body{
margin:0;
font-family:Arial;
background:#05060a;
color:white;
}

/* LAYOUT */
.container{
display:flex;
height:100vh;
}

/* SIDEBAR */
.sidebar{
width:240px;
background:#0b0f1a;
padding:20px;
border-right:1px solid #00e5ff;
}

.sidebar h2{
color:#00e5ff;
margin-bottom:20px;
}

.sidebar a{
display:block;
padding:10px;
margin:6px 0;
cursor:pointer;
background:#111827;
border-left:3px solid transparent;
}

.sidebar a:hover{
border-left:3px solid #00e5ff;
}

/* MAIN */
.main{
flex:1;
padding:20px;
overflow:auto;
}

/* TOP */
.topbar{
background:#0b0f1a;
padding:15px;
border-bottom:1px solid #00e5ff;
margin-bottom:20px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

.card{
background:#0f172a;
padding:15px;
border-radius:12px;
border:1px solid #1f2937;
}

.neon{
border:1px solid #00e5ff;
box-shadow:0 0 10px rgba(0,229,255,0.2);
}

/* PAGES */
.page{display:none;}
.page.active{display:block;}

/* LISTES */
#teamList div,
#matchList div,
#rankingList div{
background:#111827;
padding:10px;
margin:6px 0;
border-left:3px solid #00e5ff;
border-radius:8px;
}

/* MOBILE */
@media(max-width:768px){
.container{
flex-direction:column;
}

.sidebar{
width:100%;
display:flex;
justify-content:space-around;
}

.sidebar h2{
display:none;
}

.grid{
grid-template-columns:repeat(2,1fr);
}
}